# Naive Bayes - Trabalho

## Questão 1

Implemente um classifacor Naive Bayes para o problema de predizer a qualidade de um carro. Para este fim, utilizaremos um conjunto de dados referente a qualidade de carros, disponível no [UCI](https://archive.ics.uci.edu/ml/datasets/car+evaluation). Este dataset de carros possui as seguintes features e classe:

** Attributos **
1. buying: vhigh, high, med, low
2. maint: vhigh, high, med, low
3. doors: 2, 3, 4, 5, more
4. persons: 2, 4, more
5. lug_boot: small, med, big
6. safety: low, med, high

** Classes **
1. unacc, acc, good, vgood

## Questão 2
Crie uma versão de sua implementação usando as funções disponíveis na biblioteca SciKitLearn para o Naive Bayes ([veja aqui](http://scikit-learn.org/stable/modules/naive_bayes.html)) 

## Questão 3

Analise a acurácia dos dois algoritmos e discuta a sua solução.

In [37]:
import pandas as pd
import numpy as np

labels = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "label"]
df = pd.read_csv('carData.csv', sep=',', names=labels)

unique_data = [df[label].unique() for label in labels]
legend = []

for i, label in enumerate(labels):
    _dict = {}
    for j, cat in enumerate(unique_data[i]):
        _dict[cat] = j
    df[label] = df[label].map(_dict)
    legend.append(_dict)
    
legend

[{'vhigh': 0, 'high': 1, 'med': 2, 'low': 3},
 {'vhigh': 0, 'high': 1, 'med': 2, 'low': 3},
 {'2': 0, '3': 1, '4': 2, '5more': 3},
 {'2': 0, '4': 1, 'more': 2},
 {'small': 0, 'med': 1, 'big': 2},
 {'low': 0, 'med': 1, 'high': 2},
 {'unacc': 0, 'acc': 1, 'vgood': 2, 'good': 3}]

In [14]:
df

      buying  maint  doors  persons  lug_boot  safety  class
0          0      0      0        0         0       0      0
1          0      0      0        0         0       1      0
2          0      0      0        0         0       2      0
3          0      0      0        0         1       0      0
4          0      0      0        0         1       1      0
5          0      0      0        0         1       2      0
6          0      0      0        0         2       0      0
7          0      0      0        0         2       1      0
8          0      0      0        0         2       2      0
9          0      0      0        1         0       0      0
10         0      0      0        1         0       1      0
11         0      0      0        1         0       2      0
12         0      0      0        1         1       0      0
13         0      0      0        1         1       1      0
14         0      0      0        1         1       2      0
15         0      0      0        1         2       0      0
16         0      0      0        1         2       1      0
17         0      0      0        1         2       2      0
18         0      0      0        2         0       0      0
19         0      0      0        2         0       1      0
20         0      0      0        2         0       2      0
21         0      0      0        2         1       0      0
22         0      0      0        2         1       1      0
23         0      0      0        2         1       2      0
24         0      0      0        2         2       0      0
25         0      0      0        2         2       1      0
26         0      0      0        2         2       2      0
27         0      0      1        0         0       0      0
28         0      0      1        0         0       1      0
29         0      0      1        0         0       2      0
...      ...    ...    ...      ...       ...     ...    ...
1698       3      3      2        2         2       0      0
1699       3      3      2        2         2       1      3
1700       3      3      2        2         2       2      2
1701       3      3      3        0         0       0      0
1702       3      3      3        0         0       1      0
1703       3      3      3        0         0       2      0
1704       3      3      3        0         1       0      0
1705       3      3      3        0         1       1      0
1706       3      3      3        0         1       2      0
1707       3      3      3        0         2       0      0
1708       3      3      3        0         2       1      0
1709       3      3      3        0         2       2      0
1710       3      3      3        1         0       0      0
1711       3      3      3        1         0       1      1
1712       3      3      3        1         0       2      3
1713       3      3      3        1         1       0      0
1714       3      3      3        1         1       1      3
1715       3      3      3        1         1       2      2
1716       3      3      3        1         2       0      0
1717       3      3      3        1         2       1      3
1718       3      3      3        1         2       2      2
1719       3      3      3        2         0       0      0
1720       3      3      3        2         0       1      1
1721       3      3      3        2         0       2      3
1722       3      3      3        2         1       0      0
1723       3      3      3        2         1       1      3
1724       3      3      3        2         1       2      2
1725       3      3      3        2         2       0      0
1726       3      3      3        2         2       1      3
1727       3      3      3        2         2       2      2

[1728 rows x 7 columns]

In [24]:
import random
def splitDataset(dataset, splitRatio):
    msk = np.random.rand(len(df)) < splitRatio
    train = df[msk]
    test = df[~msk]
    return train, test

In [28]:
train, test = splitDataset(df, 0.7)

0

In [30]:
def separateByClass(dataset):
    separated = {}
    for i in range(len(dataset)):
        vector = dataset.iloc[i]
        if vector[-1] not in separated:
            separated[vector[-1]] = []
        separated[vector[-1]].append(vector)
    return separated

separated = separateByClass(df)

In [60]:
len(df[(df.buying == 1) & (df.label == 1)])

108

In [82]:
model = {}

for col in df.columns:
    model[col] = df.groupby(col)[col].count()

model

{'buying': buying
 0    432
 1    432
 2    432
 3    432
 Name: buying, dtype: int64, 'maint': maint
 0    432
 1    432
 2    432
 3    432
 Name: maint, dtype: int64, 'doors': doors
 0    432
 1    432
 2    432
 3    432
 Name: doors, dtype: int64, 'persons': persons
 0    576
 1    576
 2    576
 Name: persons, dtype: int64, 'lug_boot': lug_boot
 0    576
 1    576
 2    576
 Name: lug_boot, dtype: int64, 'safety': safety
 0    576
 1    576
 2    576
 Name: safety, dtype: int64, 'label': label
 0    1210
 1     384
 2      65
 3      69
 Name: label, dtype: int64}